.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  text-align: center;
}
.head {
  margin: 20px;
}
.head > h1 {
  font-weight: bolder;
}
.colorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorItem {
  width: 285px;
  height: 200px;
  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.colorData {
  width: 100%;
  height: auto;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
